<p>
    <i>Acupuncture is a medical system that has been used to diagnose, treat and prevent illness for over 23 centuries.</i>
</p>
<p>
    Acupuncture can remedy acute or chronic ailments, relieve pain, enhance recuperative powers and strengthen the immune system. In an Oriental Medicine assessment, your condition will be diagnosed based on an interpretation of your signs and symptoms including observation of your pulse and tongue as well as an analysis of your medical history.
</p>
<p>
    During your session, the following adjunct techniques may also be used; moxabustion (heat), gua sha (scraping), cupping (suction), auricular therapy (ear acupuncture), electrical or laser stimulation or even manual stimulation of the points.
</p>
