<div class="appointment"></div>
<h1>What to expect on the day of your appointment:</h1>
<p>
    Please wait in your car & call or text the office to let us know you are here.
</p>
<div class="highlight-box" style="display:inline-block;">
    Call: (585) 256-3980<br>
    Text: (585) 734-9200<br>
</div>
<p>
    Come to your appointment alone unless you need assistance. Anyone who accompanies you to your appointment will also be screened for fever and other symptoms in order to be admitted.
</p>
<p>
    Please do not bring food or drink into the office.
</p>
<p>
    Enter the office with a mask and you will be led directly to your treatment room.
</p>
<p>
    We will then screen you with questions regarding COVID-19.
</p>
<p>
    We will also take your temperature using a digital thermometer. Any temperature over 100°F will be required to reschedule.
</p>
<p>
    We will also check your oxygen level. An O2 level below 95 is considered hypoxia and you will be asked to reschedule.
</p>
<p>
    Upon entering, you will be asked to wash your hands or use hand sanitizer.
</p>

<p>
    Please see the <a href="safety.html">Safety Precautions</a> we have implemented.
</p>
