<ul class="list conditions">
    <li>Allergies/Asthma</li>
    <li>Anxiety/Depression</li>
    <li>Arthritis/Joint Problems</li>
    <li>Back and Knee Pain</li>
    <li>Bladder/Kidney Problems</li>
    <li>Childhood Illnesses</li>
    <li>Conjunctivas</li>
    <li>Constipation / Diarrhea</li>
    <li>Colds/Flu/Cough/Bronchitis</li>
    <li>Dizziness</li>
    <li>Drug Addiction/Smoking</li>
    <li>Fatigue</li>
    <li>Frozen Shoulder</li>
    <li>Gastrointestinal Disorders</li>
    <li>Gynecological Disorders</li>
    <li>Headache Problems/Palpitations</li>
    <li>High Blood Pressure</li>
    <li>Immune System Deficiency</li>
    <li>Infertility</li>
    <li>Menopausal Discomfort</li>
    <li>Neck Pain/Stiffness</li>
    <li>Paralysis/Numbness</li>
    <li>Rhinitis/Sinusitis</li>
    <li>Skin Problems</li>
    <li>Stress/Tension</li>
    <li>Tendonitis</li>
    <li>Vision Problems</li>
</ul>

<p>
    This is just a sample of commonly treated conditions. Many other conditions are treated as well and during periods of wellness, acupuncture is an effective preventative treatment.
</p>
