<img style="float:left; margin: 20px 10px 10px 0;" width="100" height="150" src="img/facelift.jpg">

<p>
    Facial Rejuvenation Acupuncture helps to improve muscle tone and dermal contraction especially in the face and neck.
</p>
<p>
    Facial Rejuvenation Acupuncture has been shown to increase collagen production and aids in its dispersal thus helping to firm the skin and fill out wrinkles.
    Bags and sagging around the eyes, face, and neck can be significantly reduced and toned up.
    Metabolism is greatly improved through these treatments, resulting in reduced puffiness often to the point of elimination.
</p>
<p>
    As Acupuncture can profoundly effect the regulation of hormones in the body, conditions like acne and overly dry skin can be quite improved.
    By substantially increasing the circulation of blood, lymph, and Qi to the head, these treatments improve the complexion noticeably.
    Healthy facial coloring can be restored and there can be a tightening of the pores.
    Stress and habitual expressions which are so visible on the face are transformed resulting in a remarkably younger, calmer, and less worn looking face with which to meet the world.
</p>
<p>
    Inner beauty, vitality and serenity: all these very obviously visual benefits manifest in the appearance while many pre-existing health conditions are cleared up because Acupuncture works by treating the whole body and addressing the underlying causes of aging and disease.
</p>

<ul class="list">
    <li><a target="article1" href="http://www.personalmd.com/news/n0201100155.shtml"><font color="#910A2B">Acupuncture Facelifts Gain Popularity</font></a></li>
    <li><a target="article2" href="http://www.thechamplainchannel.com/health/2015824/detail.html"><font color="#910A2B">Acupuncture Face-Lift Melts Years Away</font></a></li>
    <li><a target="article3" href="http://more.abcnews.go.com/sections/gma/worldnewstonight/gma010608acupuncture_facelift.html"><font color="#910A2B">Going Under the Needle for the Sake of Beauty</font></a></li>
</ul>

