<p>
<i>Ancient Chinese herbal formulas are as effective now as they were when first introduced more than 2,000 years ago.</i>
</p>
<p>
Most formulas consist of two to eighteen different types of herbs. Formulas treat a wide variety of symptoms while stimulating the body's natural healing process.
</p>
<p>
Hospital studies prescribing individualized complex herbal formulas have demonstrated excellent results with patients who fail to respond to conventional pharmaceutical treatments.
</p>
<p>
Herbs can be used with or without acupuncture to treat many conditions and enhance well-being. High-quality, custom prescriptions are prepared and available in raw form, or as tea bags, powders or capsules.
</p>
