<p>
    Human beings are actually unique bioenergetic systems. For thousands of years Oriental Medicine has acknowledged that there is a vital life force that flows through all things which is called Qi (pronounced "chee"). In the west it is often referred to as "energy". Energy (Qi) flows along pathways in the human body, which are related to the organs and the tendo-muscular system.
</p>
<p>
    When the balance of this energy is disturbed due to either trauma, poor diet, medications, stress, hereditary conditions, environmental factors or excessive emotional issues; pain or illness result.
</p>
<p>
    Oriental Medicine focuses on correcting these energetic imbalances by breaking up any obstruction and encouraging an even flow of Qi, which stimulates the body's natural ability to heal itself.
</p>
