	<div class="highlight-box">
		<h1>Branch Acupuncture Open</h1>
		<p>We are very excited to re-open our doors on <strong>Tuesday, June 16, 2020</strong>.</p>
		<p>We have implemented a comprehensive COVID-19 Safety Precaution Plan
			based on the guidelines of the CDC, OSHA, NYS, ASNY and CCAOM. Our
			office will have a new flow as the Branch Acupuncture Safety Precaution
			Plan is put in place. You will be contacted 24-48 hours before your
			appointment to be screened for COVID-19 symptoms.
		</p>
		<p>
			We will try to reach out to everyone who missed an appointment. However,
			please call us if you would like to get on the schedule or confirm your
			already scheduled appointment.
		</p>
		<p>Please read our <a class="redLink" href="appointment.html">Appointment Procedure</a> to learn about our COVID-19 Safety Precaution Plan and learn what to expect the day of your appointment.</p>
		<p>
			We want to also thank all of you for your patience and continual support as we navigate together through this global COVID-19 pandemic. We look forward to seeing you!
		</p>
		<p>
			Wishing you the best of health,
		</p>
		<p>
			- Molly & Bev
		</p>
	</div>
