<img src="img/molly.jpg" border=0 alt="" hspace=0>
<p>
    Molly Branch was born and grew up in the Rochester area. She received her BA from St. Bonaventure University and a Master of Professional Studies in Community Services Administration from Alfred University.
</p>
<p>
    Molly worked in healthcare administration in the Rochester area before pursuing her career as an acupuncturist. She received her second graduate degree, a Masters of Acupuncture and Chinese Herbal Medicine, from the New England School of Acupuncture in Boston, Massachusetts. The master program included four years of study and a clinical practice where the core curriculum includes Western sciences and biomedicine. This foundation enables her to assess patient needs within the context of contemporary medicine.
</p>
<p>
    Molly is licensed as an Acupuncturist by the New York State Educational Department, Office of the Professions. She is also licensed in Massachusetts and Vermont. Molly is certified by the National Certification Commission for Acupuncture and Oriental Medicine (NCCAOM) with a Diploma in Acupuncture.
</p>
