<p>
	Oriental Medicine encompasses a variety of health care therapies and is a way of looking at medicine that integrates
	all therapies in its understanding.
</p>
<p>
	Acupuncture and Chinese Herbology are the most popular in the United States. Other aspects
	include diet, nutrition, life-style choices, thi qi (martial arts/physical exercise), qi gong (breath exercise), tun'na (massage), and feng shui (environmental balance).
</p>
