<h1>Your Safety is our Top Priority</h1>
<p>The following precautions have been implemented:</p>

<ol class="numlist">
    <li>Everyone in the office will be wearing masks.</li>
    <li>Clients will be asked to wear masks at all times except when lying face down on the treatment table. Masks will be available for sale in the event someone forgets one.</li>
    <li>Supplies will be provided for clients in a manner to minimize contact, including tissues, alcohol-based hand rub, soap at sinks and no-touch soap dispensers and no-touch trashcans.</li>
    <li>Treatment rooms will be thoroughly cleaned with medical grade disinfectants and UV light sterilization will be performed in every treatment room after each use.</li>
    <li>All common areas will be wiped down between clients.</li>
    <li>Restroom will be disinfected hourly.</li>
    <li>Appointments are staggered so that there is more time in between clients. Hopefully, this way you won’t be passing by anyone in the hallways or reception area.</li>
    <li>Everyone will be given a Pre-Screening assessment including Practitioner and Staff. No one will be permitted entry if they are experiencing symptoms.</li>
    <li>All linens are used only once for you and then laundered after each and every client. All laundry will be washed with detergent and bleach.</li>
    <li>Treatment beds will be covered with a vinyl cover over the heating pad.</li>
    <li>Garbage will be disposed of in a sealed container with “hands-free” foot pedal.</li>
    <li>Items in the reception room, herbal room, bathroom and treatment rooms have been paired down. Pillows, blankets and magazines have been removed.</li>
    <li>Tea service has been temporarily suspended.</li>
    <li>The inside and outside door handle surfaces are disinfected after every client.</li>
    <li>New HEPA Air Purifiers have been added to every treatment room.</li>
    <li>Carpets have been shampooed.</li>
    <li>For those with Apple Pay, a card-less payment is possible. We will try to take your payment over the phone from your car. We are still accepting cash/checks/credit cards.</li>
</ol>

<p>We will adjust precautions to keep pace with current laws and guidelines as the situation evolves.</p>



