<p>
Extremely fine, hair-thin, flexible needles are placed at specific points on the energetic pathways, known as meridians.
When the needles are inserted you may experience a sensation of tingling or warmth. People are surprised to find that treatments are actually quite relaxing.
</p>
<p>
The length and frequency of a treatment may vary for each individual. As your condition improves, fewer visits are required.
</p>
